* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: black;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  position: absolute;
  top: 20px;
  width: 80%;
  height: 6px;
  background: #222;
  border-radius: 5px;
}

.progress {
  width: 10%;
  height: 100%;
  background: #e50914;
  border-radius: 5px;
}

.card {
  text-align: center;
  background: #0b0b0b;
  padding: 40px 25px;
  border-radius: 16px;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 0 30px rgba(229,9,20,0.2);
}

.logo {
  width: 200px;
  margin-bottom: 30px;
}

h1 {
  margin: 10px 0;
}

p {
  color: #ccc;
  margin-bottom: 25px;
}

button {
  width: 100%;
  padding: 14px;
  background: #e50914;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #ff1f2d;
}

.quiz-box{
  width:100%;
  max-width:420px;
  padding:10px;
  text-align:center;
}

.quiz-title{
  color:#e50914;
  margin-top:20px;
}

.quiz-subtitle{
  color:#fff;
  font-size:14px;
  margin-bottom:20px;
}

.options{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

.option{
  background:#b60d0d;
  border-radius:14px;
  overflow:hidden;
  cursor:pointer;
  box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.option img{
  width:100%;
  height:130px;
  object-fit:cover;
  display:block;
}

.option span{
  display:block;
  padding:8px;
  font-size:13px;
  color:#fff;
}




